apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: stellar-insights-staging

bases:
- ../../

namePrefix: staging-

commonLabels:
  environment: staging

patches:
- path: backend-replicas.yaml
- path: frontend-replicas.yaml

images:
- name: stellar-insights/backend
  newTag: staging
- name: stellar-insights/frontend
  newTag: staging

configMapGenerator:
- name: stellar-insights-config
  behavior: merge
  literals:
  - stellar-network=testnet
  - rust-log=info
  - cors-allowed-origins=https://staging.stellar-insights.com
